*{
    margin: 0px;
    padding: 0px;
}

/* opne sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400;1,500&display=swap');

.header-container{
    background-color:rgba(255, 192, 203, 0.3080);
}

.headeer-wrapper{
    display: flex;
    padding-top: 30px;
    
}

.header-images>img{
    width: 100%;
}

.title{
    color: #272727;
    font-size: 50px;
    font-weight: 900;
    padding-top: 20px;
}
.header-description{
    color: #272727;
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
    width: 80%;
}

.header-main{
    margin:70px 340px 60px 140px;
}


.btn-pramary{
    margin-top: 10px;
    color:white;
    background-color: #E55473;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
}
.btn-sub{
    padding: 20px;
}

/* Header style close */
.section-primary{
    margin-top:80px;
    text-align: center;
    
    
}
.section-description{
    margin-top: 10px;
}
.flower-1{
    background-color: rgba(255, 192, 203, 0.308);
    padding: 46px 30px 0px 30px ;
    border-radius: 250px 250px 0 0px;
    margin-left: 40px;
}
    
.flower-2{
    background-color: #0598a062;
    padding: 30px 10px 74px 10px ;
    border-radius: 250px 250px 0 0px;
    margin-left: 40px;
}
    
.flower-3{
    background-color: #477d115b;
    padding: 4px 30px 0px 30px ;
    border-radius: 250px 250px 0 0px;
    margin-left: 40px;
    margin-right: 70px;
    
}
.flower-tree{
    display: flex;
   
    margin-top: 150px;
    justify-content: center;
 
}
.flower-title{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}


.optional-wrapper{
    background-color: #27272728;
    display: flex;
    text-align: center;
    margin: 70px 300px 20px 300px;
    justify-content: space-between;
    padding: 30px 100px 30px 100px;
    
}
.sing-up{
  margin-left: 200px;
}
.sell-container{
    margin-top: 120px;
}

.sell-description{
     
    margin-left: 200px;
    margin-right: 250px;
    padding: 100px;
}
.sell-images{
    padding: 100px 250px 50px 0px;
    
}

.socila-wrapeer{
    display: flex;
    margin-top: 70px   ;
    justify-content: center;
    
}
.picture-1 {
    
    margin-right: 20px;
}
.picture-2{
    margin-right: 20px;
}
.picture-3{
    margin-right: 20px;
}
.subcribt{

    margin-top: 120px;
    background-repeat: no-repeat;
    background-image: url("/flower-shop-assignment/Rectangle\ 9.png");
    background-repeat : no-repeat;
    margin-left:205px;
    
    
}
.email-option{
    padding: 50px 0px;
}
.email-wrapper{
    padding: 20px;
    padding-right: 400px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
}
.section-description{
    font-size: 20px;
    font-weight: 500;
}
.price{
    border-radius: 10px 10px;
    box-shadow: 10px 5px 10px black;
    width: 50%;
    margin-left: 20px;
    padding-bottom: 10px;
    

}

.for-sell{
    display: flex;
    text-align: center;
    margin: 70px 200px 0px 200px;
    padding-bottom: 10px;
  
}
.price-20{
    width: 100%;
    
}
.flower-name{
    background-color: antiquewhite;
}
.footer-description{
    color: white;
    margin-top: 50px;
}
.footer-wrapper{
    background-color: black;
    padding: 70px;
    margin-top: 120px;
}

.Differnt{
    color: #E55473;
    padding: 10px;
}
.Copyright{
    color: rgba(255, 255, 255, 0.514);
     margin-top: 90px ;
     padding-bottom: 50px;
}